section.callback
  .wrapper
    .callback__wrapper
      .callback__img 
        img(src="./assets/img/punch.png", alt="")
      .callback__content 
        h2.callback__title Перебьем предложения от конкурентов!
        p.callback__text Скидки  #[span 10 от до 25%] на стоимость автомобиля
        form.callback__form
          input(type="text" placeholder="Ваш телефон").callback__telephone
          input(type="submit" value="Получить предложение").callback__submit
        .callback__personal-data Нажимая кнопку “Отправить” Вы даете согласие на обработку своих 
          a.callback__personal-data-link персональных данных