- const brandsData = ['Kia','Brilliance','Citroen','Ford','Haima','Lifan','Peugeot','UAZ','Skoda','Chery','Dongfeng','GAC','Honda','Mitsubishi','Renault','Volkswagen','CheryExeed','DW Hower','Geely','JAC','Nissan','SsangYong','Toyota','Chevrolet','FAW','Great Wall','Lada','Opel','Suzuki']
include _links.pug
- const stepsData = ['0','500т','800т','1,1м','1,4м','1,7м','2м','2,3м','2,7м','3м']
mixin steps(data)
  each item in data
    li.car-selection__step-item
      .car-selection__step-box
        .car-selection__step-line |
        .car-selection__step-text=item



section.car-selection
  .wrapper
    form.car-selection__form
      +brandsList(brandsData,'car-selection__list','car-selection__list-item','car-selection__list-btn','brand','car-selection__label')
      .car-selection__options-box
        h2.car-selection__title Быстрый подбор авто
        .car-selection__text-price-box
          .car-selection__text-price Цена
          .car-selection__text-price-step 0 - 500т
        input(type="range" min="0" max="9" step="1" value="0").car-selection__input
        .car-selection__step-wrapper
          ul.car-selection__step-list
            +steps(stepsData)
                                         
        .car-selection__select-box
          .select-box
            .options-container.car-selection__select#options-container
              .option
                input(type="radio" name="motor-type").radio#gear-automat
                label(for="gear-automat") automat 
              .option
                input(type="radio" name="motor-type").radio#gear-mechanic
                label(for="gear-mechanic") mechanic 
              .option
                input(type="radio" name="motor-type").radio#gear-robot
                label(for="gear-robot") robot 
            .selected#gearType Тип коробки
          .select-box
            .options-container.car-selection__select#options-container
              .option
                input(type="radio" name="body-type").radio#body-sedan
                label(for="body-sedan") Седан 
              .option
                input(type="radio" name="body-type").radio#body-sport
                label(for="body-sport") Спорт 
              .option
                input(type="radio" name="body-type").radio#body-plane
                label(for="body-plane") Самолет 
            .selected#bodyType Тип кузова
        input(type="submit" value="Показать 73").car-selection__submit
        //- .select-box
        //-   .options-container.car-selection__select#options-container
        //-     .option
        //-       input(type="radio" name="motor-type").radio#gear-automat
        //-       label(for="gear-automat") automat 
        //-     .option
        //-       input(type="radio" name="motor-type").radio#gear-mechanic
        //-       label(for="gear-mechanic") mechanic 
        //-     .option
        //-       input(type="radio" name="motor-type").radio#gear-robot
        //-       label(for="gear-robot") robot 
        //-   .selected#selected Выберите Тип коробки
          
      