section.slider
  .slider__box.swiper
    .slider_item.swiper-wrapper
      .slider_img-box.swiper-slide
        img.slider_img(src="assets/img/slider-web.jpg", alt="")
        .slider__text-box
          p.slider__attention Осталось всего 10 авто!
          p.slider__sale-text Грандиозная распродажа тестового парка!
          p.slider__subtext Узнай свою цену!
      .slider_img-box.swiper-slide
        img.slider_img(src="assets/img/slider-web.jpg", alt="")
        .slider__text-box
          p.slider__attention Осталось всего 10 авто!
          p.slider__sale-text Грандиозная распродажа
          p.slider__subtext Узнай свою цену!
      .slider_img-box.swiper-slide
        img.slider_img(src="assets/img/slider-web.jpg", alt="")
        .slider__text-box
          p.slider__attention Осталось всего 10 авто!
          p.slider__sale-text Грандиозная распродажа
          p.slider__subtext Узнай свою цену!
    .slider_tabs-box.swiper-pagination
    .slider_left-btn.swiper-button-prev
      //- include ../assets/img/arrow.svg
    .slider_right-btn.swiper-button-next
      //- include ../assets/img/arrow.svg
      .slider_tab--select
      .slider_tab
