section.special
  .wrapper
    .special__top
      .special__title-box
        h2.special__title Спецпредложения
      .special__slider-btns
        button.special__slider-btn.special__slider-btn--left
          include ../assets/img/arrow.svg
        button.special__slider-btn.special__slider-btn--right
          include ../assets/img/arrow.svg 
    .special__slider-box
    